body{
    background-image: url("../img/OF18NR0.jpg");
    background-attachment: inherit;
    background-size: cover;
}

.headline{
    font-family: 'Pacifico', cursive;
}

.font{
    font-size: 20px;
    color: black;

}