@media screen and(max-width: 500px){
    .button{
        font-size: 12px;
    }
}

@media screen and (max-width: 501px){
    #loginForm{
        display: none;
    }

    #buttonShowHide{
        display: block;
    }

    .button{
        position: static;
        width: auto;
    }
    .center-wrap{
        position: static;
        margin: auto;
        width: 25%;
        height: 5%;
    }

    .footer{
        background-color: rgba(100,100,100,0.5);
        height:100px;
        width:100%;
    }
    .btn-group{
        position:absolute;
        top:30px;
    }

    .card{
        position: relative;
        width:300px;
    }

    .description{
        position: absolute;
        top: 20%;
        left:21%;
    }

}

@media screen and (min-width: 500px){
    #loginForm{
        display: block;
    }
    #buttonShowHide{
        display: none;
    }
    .center-wrap{
        position: absolute;
        top: 60%;
        left: 8%;
        width: 18%;
        height: 5%;
    }
    .footer{
        background-color: rgba(100,100,100,0.5);
        height:100px;
        width:100%;
    }

    .btn-group{
        position:absolute;
        top:30px;
    }

    .btn-group a img{
        width: 30px;
        margin: 0 10px;
    }

    .card{
        position: relative;
        width:400px;
    }

    .description{
        position: absolute;
        top: 20%;
        left:21%;
    }
}

@media screen and (max-width: 560px){
    #bannerIMG{
        display:none;
    }
    .button{
        position: static;
        width: auto;

    }
    .center-wrap{
        position: static;
        margin: auto;
        top: 60%;
        left: 8%;
        width: 25%;
        height: 5%;
    }
    .footer{
        background-color: rgba(10,10,10,0.8);
        width:100%;
    }

    .btn-group a img{
        width: 30px;
    }
    .btn-group{
        position:absolute;
        top:30px;
    }
}

body{
    background-image: url("../img/background.jpg");
    background-attachment: inherit;
    background-size: cover;
    height:100%;
    padding:0;

}

.wrapper{
    min-height:100%;
    margin-bottom:120px;
}

.footer{
    position: fixed;
    bottom: 0;
    color:white;
    font-family: 'Gloria Hallelujah';
    font-size:20px;
    padding: 5px;
}
li{
    font-size: 20px;
}

.headline{
    font-family: 'Pacifico', cursive;
    color: rgba(250,250,60,0.5);
}

.font, p{
    font-size: 20px;
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
}

table td{
    padding: 0 5px;
}

.liFont{
    font-size:21px;
    font-family: 'Fredoka One', cursive;
}

.navHead{
    font-size:35px;
    color: white;
    font-family: 'Fredoka One', cursive;
    text-shadow: 17px 10px 5px rgba(100,100,100,0.6);
}
.form-control-inverse{
    background-color: rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:white;
}

#banner{
    position: relative;
}


.button {
    background: none center center no-repeat;
    background-size: cover;
    border: 5px solid rgba(20,20,20,1);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 20px 15px;
    text-align: center;
    width: 140%;
    height: 70px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
    transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 5s cubic-bezier(0.19,1,.22,1);
}

.button a {
    color: white;
    font-family: 'Sitka Subheading';
    font-weight: 900;
    text-decoration: none;
}

.button .mask {
    background: #fff;
    background: rgba(255,255,255,0.5);
}

.button .mask {
    display: block;
    width: 200px;
    height: 100px;
    -webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button .shift {
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button:hover {
    border-color: #fff;
}

.button:hover a {
    color: #fff;
    transition: all 0.3s;
}

.button:hover .mask {
    background: #fff;
    -webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
    transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}

.button:hover .shift {
    padding-left: 5px;
}

.fill {
    --color: lightgreen;
    --hover: lightgreen;
}
.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.fill2 {
    --color: lightpink;
    --hover: rgba(200,0,0,0.7);
}

.fill2:hover, .fill2:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.fill:hover {
    color: green;
}

.fill2:hover {
    color: red;
}

.text{
    color: white;
}

td{
    color: white;
    font-family: 'Gloria Hallelujah';
    font-size:17px;
}

.navigation{
    background-color: rgba(100,100,100,0.8);
    padding:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.navigation-header{
    background-color: rgba(10,10,10,0.7);
    padding: 10px 0;
}

.navigation-body{
    background-color: rgba(100,100,100,0.6);
    padding: 20px;
}

.navigation-footer{
    background-color: rgba(100,100,100,0.8);
}

#copyright{
    font-size:100%;
    color:white;
    position: absolute;
    bottom:0;
}

.white {
    color: white;
}

.daysS{
    background-color: rgba(250,250,250,0.5);
    color: red;
    margin: 5px;
    border:2px solid white;
    cursor: pointer;
}
.daysS:hover{
    background-color: rgba(250,250,250,0.9);
}

.daysR{

    background-color: rgba(250,250,250,0.5);
    margin: 5px;
    border:2px solid white;
    cursor: pointer;
}

.daysR:hover{
    background-color: rgba(250,250,250,0.9);
}

.daysText{
    background-color: rgba(250,250,250,0.5);
    color: white;
    margin: 5px;
    border:2px solid white;
}

.red{
    color: red;
}
